
@using EmployeeManagement.Controllers;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body style="background-color:#ffffff">
    <table cellpadding="2" cellspacing="2" border="0" style="width:100%;margin-left:4%">
        <tr>
            <th style="text-align:left;font-size:2vw">Shopping Cart</th>
        </tr>
    </table>
    <table cellpadding="2" cellspacing="2" border="0" style="width:100%">

        <tr style="border-color:#ffffff;background-color:#ffffff;border:thin;height:50px">

            <th style="text-align:center;color:#1f1c1c;font-size:1.5vw">Title</th>
            <th style="text-align:center;color:#1f1c1c;font-size:1.5vw"></th>
            <th style="text-align:center;color:#1f1c1c;font-size:1.5vw">Price</th>
            <th style="text-align:center;color:#1f1c1c;font-size:1.5vw">Quantiy</th>
            <th style="text-align:center;color:#1f1c1c;font-size:1.5vw">Total</th>
            <th style="text-align:center;color:#1f1c1c;font-size:1.5vw">Option</th>
        </tr>
        @{
            double grandTotal = 0;
        }

        @foreach (Item item in (List<Item>)Session["cart"])
        {
            double subTotal = Convert.ToDouble(item.Quantity) * Convert.ToDouble(20);
            grandTotal += subTotal;
            <tr style=" background-color:#ffffff;border:thin">

                <td style="text-align:right;font-size:2vw">
                    <img class="img" src="@item.ProductModel.ProductImage" style="width:65px;height:90px;border-radius:10px;border-color:rgba(255, 255, 255, 0.33);" alt="@item.ProductModel.ProductNm" />
                </td>
                <td style="text-align:left;font-size:1.5vw"> @item.ProductModel.ProductDescription</td>
                <td style="text-align:center;font-size:1.5vw">20</td>
                <td style="text-align:center;font-size:1.5vw">
                    <button type="button">
                        @Html.ActionLink(" - ", "ReduceQty", "ShoppingCart", new { id = item.ProductModel.ProductId }, null)
                    </button>
                    @item.Quantity
                    <button>
                        @Html.ActionLink(" + ", "AddQty", "ShoppingCart", new { id = item.ProductModel.ProductId }, null)
                    </button>
                </td>
                <td style="text-align:center;font-size:1.5vw"> @(item.Quantity * 20)</td>
                <td style="text-align:center;font-size:1.5vw"> @Html.ActionLink(" Remove ", "Delete", "ShoppingCart", new { id = item.ProductModel.ProductId }, null)</td>

            </tr>
        }
        <tr style="background-color:#ffffff;border:thin">
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:right;color:#1f1c1c;font-size:1.5vw"><b>Grand Total</b></td>
            <td style="text-align:center;color:#1f1c1c;font-size:1.5vw">Php @grandTotal</td>
            <td></td>
        </tr>

    </table>

</body>

</html>

